# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.jar

# IDEs
/.idea/
/*.iml
/.project
/.classpath
/.settings/
/.vscode/

# OS
.DS_Store

# Logs
logs/
*.log

# Spring Boot
spring.log
.file_activity_report.json
